<html>
<head>
    <title>login</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ML Image Splice Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="models">Models</a>
      </li>
    </ul>
      <span class="navbar-text">
      <a class="nav-link" href="admin">Admin</a>
    </span>
  </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="col">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Admin Panel</h1>
    <p class="lead">Database View of all Predictions</p>
  </div>
</div>
    {% if error %}
        <div class="alert alert-danger" role="alert"><strong>Error</strong>: {{error}}</div>
    {% endif %}

    <form method = "post" action = "/admin">

        <label class="sr-only" for="inlineFormInputGroupUsername2">Password</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Password</div>
    </div>
    <input type="password" class="form-control" id="inlineFormInputGroupUsername2" name="pass" >
  </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        {% if delete %}
        <a class="btn btn-danger" href="delete" role="button">Delete Database</a>
        {% endif %}
        {% if message %}
        <div class="alert alert-danger" role="alert"><strong>Database Cleared</strong></div>
        {% endif %}
        <br>
        <br>

        <table class="table table-hover">
            <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Filename</th>
        <th>Date and Time</th>
        <th>Prediction Result</th>
    </tr>
    </thead>
    <tbody>
     {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </form>
        </div>
        </div>
</div>

</body>
</html>